body {
  padding: 5px;
}
a:link {
  color: #000;
}
a:visited {
  color: #000;
}
a:hover {
  color: #000;
}
a:active {
  color: #000;
}
.links {
  letter-spacing: 5px;
  font-family: 'Bellefair', serif;
  font-size: 20px;
}
.ingress-padding {
  padding-top: 60px;
}
.row.no-gutter [class*='col-']:not(:first-child),.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right:0;
  padding-left:0;
}
.artist-info {
  padding-left: 0px;
}
.spacer {
  margin-bottom: 60px;
}
.player {
  width: 35px;
  overflow: hidden;
  float: left;
}
audio {
  width: 66px;
  position: relative;
  top: -3px;
}
.artist-info {
  color: #000;
}
.track {
  padding-bottom: 15px;
}
.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.artist-border {
  border-left: 1px solid #999;
  margin-top: 200px;
}
.content-header {
  letter-spacing: 15px;
  font-family: 'Bellefair', serif;
  font-size: 66px;
}
.content-block {
  padding-top: 800px;
}
.artists {
  padding: 40px;
}
.artists {
  font-size: 20px;
}
.about, .artists  {
  text-align: justify;
  font-size: 18px;
  font-family: 'Bellefair', serif;
  color: #888;
  max-width: 500px;
}
.svg-logo {
  padding-top: 90px;
}
.logo-font {
  font-family: 'Monoton', cursive;
  font-size: 66px;
  margin-top: 100px;
}
@media (max-width: 992px) {
    .about { font-size: 34px; letter-spacing: 0px;  max-width: 992px; }
    .artists { font-size: 34px; }
    .player { width: 66px; margin-right: 10px; padding-top: 10px;}
    .logo-font { font-size: 100px }
    .links { font-size: 34px; }
    footer { background-color: #fff; opacity: 1; }
}
